# Auto detect text files and perform LF normalization
* text=auto

/**/*.freezed.dart linguist-generated=true
/**/*.g.dart linguist-generated=true
/lib/gen/* linguist-generated=true

/**/*.g.dart -diff
/lib/gen/intl/* -diff
/lib/gen/l10n.dart -diff
